<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Машины</title>
    <script src="../Scripts/jquery-3.4.1.js"></script>
    <script src="../Scripts/auto.js"></script>
</head>
<body>
    @Html.ActionLink("Создать", "Edit")
    <div id="CarList"></div>
</body>
</html>
